<app-admin-navbar></app-admin-navbar>

<div class="table-container">
  <div class="table-header">
    <h2 class="table-title">Lista de Personajes</h2>
    <button class="btn-add" (click)="openModal()">Agregar</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Nivel</th>
        <th>Salud</th>
        <th *ngIf="userRole === 'admin'">Acciones</th> <!-- Mostrar solo si es admin -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters">
        <td>{{ character.id }}</td>
        <td>{{ character.name }}</td>
        <td>{{ character.level }}</td>
        <td>{{ character.health }}</td>
        <td *ngIf="userRole === 'admin'">
          <button *ngIf="character.id" (click)="deleteCharacter(character.id)" class="btn-delete">Eliminar</button>
        </td>
      </tr>      
    </tbody>
  </table>
</div>

<!-- Modal para agregar personaje -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <h2 class="modal-title">Agregar Nuevo Personaje</h2>
    <form (ngSubmit)="addCharacter()">
      <label for="name">Nombre:</label>
      <input type="text" id="name" [(ngModel)]="newCharacter.name" name="name" required>

      <label for="level">Nivel:</label>
      <input type="number" id="level" [(ngModel)]="newCharacter.level" name="level" min="1" required>

      <label for="health">Salud:</label>
      <input type="number" id="health" [(ngModel)]="newCharacter.health" name="health" min="1" required>

      <div class="modal-buttons">
        <button type="submit" class="btn-add">Guardar</button>
        <button type="button" class="btn-close" (click)="closeModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
