<app-admin-navbar></app-admin-navbar>

<section class="dashboard-container">
  <h2 class="dashboard-title">CRUDS</h2>

  <!-- Botones de opciones -->
  <div class="button-grid">
    <button routerLink="/characters">Characters</button>
    <button routerLink="/skills" >Skills</button>
    <button routerLink="/inventories">Inventories</button>
    <button routerLink="/enemies">Enemies</button>
    <button routerLink="/nations">Nations</button>
    <button routerLink="/quests">Quests</button>
  </div>
</section>
