<app-admin-navbar></app-admin-navbar>

<div class="table-container">
  <h2 class="table-title">Lista de Naciones</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Clima</th>
        <th>Historia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let nation of nations">
        <td>{{ nation.id }}</td>
        <td>{{ nation.name }}</td>
        <td>{{ nation.climate }}</td>
        <td>{{ nation.history }}</td>
      </tr>
    </tbody>
  </table>
</div>