<app-navbar></app-navbar>

<section class="register-container">
  <h2 class="title">Create Your Account</h2>
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-row">
      <label for="name">Full Name</label>
      <input type="text" id="name" placeholder="Enter your full name" formControlName="name" />
    </div>

    <div class="form-row">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter your email" formControlName="email" />
    </div>

    <div class="form-row">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter your password" formControlName="password" />
    </div>

    <div class="form-row">
      <label for="phone">Phone</label>
      <input type="tel" id="phone" placeholder="Phone number" formControlName="phone_number" />
    </div>

    <div class="form-row">
      <label for="birth_day">Birth Day</label>
      <input type="date" id="birth_day" placeholder="Enter your birth date" formControlName="birth_day" />
    </div>

    <button class="btn-register" type="submit">Register</button>
    <button class="btn-activate" routerLink="/activation">Click para activar tu cuenta</button>

    <p *ngIf="message" class="message">{{ message }}</p>
  </form>
</section>