<app-admin-navbar></app-admin-navbar>

<div class="table-container">
  <div class="table-header">
    <h2 class="table-title">Lista de Enemigos</h2>
    <button class="btn-add" (click)="openModal()">Agregar</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Tipo</th>
        <th>Nivel de Fuerza</th>
        <th *ngIf="userRole === 'admin'">Acciones</th> <!-- Mostrar solo si es admin -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enemy of enemies">
        <td>{{ enemy.id }}</td>
        <td>{{ enemy.name }}</td>
        <td>{{ enemy.description }}</td>
        <td>{{ enemy.type }}</td>
        <td>{{ enemy.strength_level }}</td>
        <td *ngIf="userRole === 'admin'">
          <button (click)="deleteEnemy(enemy.id)" class="btn-delete">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <h2 class="modal-title">Agregar Enemigo</h2>
    <form (ngSubmit)="addEnemy()">
      <label for="name">Nombre:</label>
      <input id="name" [(ngModel)]="newEnemy.name" name="name" required />

      <label for="description">Descripción:</label>
      <input id="description" [(ngModel)]="newEnemy.description" name="description" required />

      <label for="type">Tipo:</label>
      <select id="type" [(ngModel)]="newEnemy.type" name="type" required>
        <option value="orc">Orco</option>
        <option value="human">Humano</option>
        <option value="elf">Elfo</option>
        <option value="undead">No-muerto</option>
        <option value="beast">Bestia</option>
      </select>

      <label for="strength_level">Nivel de Fuerza:</label>
      <input
        type="number"
        id="strength_level"
        [(ngModel)]="newEnemy.strength_level"
        name="strength_level"
        required
      />

      <div class="modal-buttons">
        <button type="submit" class="btn-add">Guardar</button>
        <button type="button" class="btn-close" (click)="closeModal()">Cerrar</button>
      </div>
    </form>
  </div>
</div>