<app-admin-navbar></app-admin-navbar>

<div class="table-container">
  <div class="table-header">
    <h2 class="table-title">Lista de Personajes</h2>
    <button class="btn-add">Agregar</button>
  </div>  
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Nivel de Dificultad</th>
        <th>Personaje</th>
        <th>Enemigo</th>
        <th>Nación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quest of quests">
        <td>{{ quest.id }}</td>
        <td>{{ quest.title }}</td>
        <td>{{ quest.description }}</td>
        <td>{{ quest.dificulty_level }}</td>
        <td>{{ quest.character }}</td>
        <td>{{ quest.enemy }}</td>
        <td>{{ quest.nation }}</td>
      </tr>
    </tbody>
  </table>
</div>