<app-admin-navbar></app-admin-navbar>

<div class="table-container">
  <h2 class="table-title">Lista de Habilidades</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Personaje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let skill of skills">
        <td>{{ skill.id }}</td>
        <td>{{ skill.skill_name }}</td>
        <td>{{ skill.type }}</td>
        <td>{{ skill.character }}</td>
      </tr>
    </tbody>
  </table>
</div>
